<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::html-head" />

<body>
<div th:replace="layout::header" />
<div class="container component">
    <div class="row-fluid">
        <div class="span12">
            <!-- .well -->
            <div th:replace="layout::item_details" />
            <hr class="top-off" />
            <div class="row-fluid">
                <div class="span12">
                    <div class="text-right">
                        <a class="button back-button" href="/index">Back</a>
                        <a class="button checkout-button" data-method="get" href="/checkout/choose_payment" rel="nofollow">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout::footer" />
</body>

</html>
