<html>
    <head th:fragment="html-head">
        <title>
            Veritrans Java Client Client Sample Store
        </title>
    </head>
    <body>
        <div th:fragment="header">
            <table width="100%">
                <tr>
                    <td align="left">
                        <span>Items in Cart: </span><span th:text="${itemsInCartCount}"/>
                    </td>
                    <td align="right">
                        <a href="/checkout">Checkout (<span th:text="${itemsInCartCount}"/>)</a>
                    </td>
                </tr>
            </table>
            <hr/>
        </div>
        <div th:fragment="footer">
            <hr/>
            footer
        </div>
    </body>
</html>
