<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::html-head" />

<body>
    <div th:replace="layout::header" />
    <div class="container component">
        <div class="row-fluid">
            <div class="span12">
                <!-- .well -->
                <div th:replace="layout::item_details" />
                <hr class="top-off" />
                <div style="position:relative;">
                    <h2>e-Pay BRI</h2>
                    <span class="badge epay-bri"></span>
                    <ol>
                        <li>Please make sure that you have a User ID for BRI e-Pay and have registered for mTOKEN before going through with the payment.</li>
                        <li>To obtain a User ID for BRI e-Pay, please register at the nearest BRI ATM.</li>
                        <li>Please visit the nearest BRI branch office to register the mTOKEN.</li>
                        <li>Payment via BRI e-Pay will be processed online and your BRI bank account balance will be deducted automatically based on your total amount.</li>
                        <li>Your transaction will be cancelled if payment is not completed within 2 hours.</li>
                    </ol>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="text-right">
                            <a class="button back-button" href="/checkout/vtdirect">Back</a>
                            <a class="button checkout-button" data-method="post" href="/checkout/bri_epay" rel="nofollow">Confirm Payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="layout::footer-vtdirect-creditcard" />
</body>

</html>
